body {
    background-color: #222831; 
    color: #EEEEEE; 
}

.navbar, .search{
    background-color: #00ADB5; 
}

.nav-link,
.navbar-toggler-icon {
    color: #EEEEEE; 
}

.sidebar {
    background-color: #393E46; 
}

.card {
    background-color: #393E46; 
    border: none; 
    color: #EEEEEE; 
}

.card-title {
    color: #00ADB5; 
}

.card-text,
.read-more-link {
    color: #EEEEEE; 
}

footer {
    background-color: #393E46; 
    color: #EEEEEE; 
}


















